<ion-header>

  <ion-navbar color="primary">
    <ion-title>Records</ion-title>
  <ion-buttons end>
    <button ion-button (click)="ToExportPage()">
      Export
    </button>
  </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label>Filter by: </ion-label>
    <ion-select (ionCancel)="initializeStudents()" [(ngModel)]="query" multiple="false" selectSettings="selectOptions">
      <ion-option *ngFor="let option of selectOptions" (ionSelect)="queryData(option)">{{option}}</ion-option>
    </ion-select>
  </ion-item>
  <div *ngIf="query == 'Date'">
    <ion-item>
      <ion-label>Year</ion-label>
      <ion-select [(ngModel)]="yearQuery" multiple="false">
        <ion-option *ngFor="let year of years" value="{{year}}" (ionSelect)="queryDataByYear(year)">{{year}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Months: </ion-label>
      <ion-select [(ngModel)]="monthQuery" multiple="false">
        <ion-option *ngFor="let month of months; let i = index" value="{{month}}" (ionSelect)="queryDataByMonth(i)">{{month}}</ion-option>
      </ion-select>
    </ion-item>
    <!-- <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime displayFormat="M YYYY" [(ngModel)]="dateQuery"></ion-datetime>
    </ion-item> -->
  </div>
  <div id="table">
    <table>
      <caption [ngSwitch]="query">
        <ng-template ngSwitchWhen="Date">Students attendance in {{months[currentDate.getMonth()]}}, {{currentDate.getFullYear()}}</ng-template>
        <ng-template ngSwitchDefault>Students attendance in {{monthQuery}}, {{yearQuery}}</ng-template>
      </caption>
      <!-- <caption *ngIf="query != 'Date'">Students attendance in {{months[currentDate.getMonth()]}}, {{currentDate.getFullYear()}}</caption>
    <caption *ngIf="query == 'Date'">Students attendance in {{monthQuery}}, {{yearQuery}}</caption>     -->
      <tr>
        <th>
          Id
        </th>
        <th>
          Name
        </th>
        <th>
          Attendance
        </th>
        <th>
          Absence
        </th>
        <th>
          Attendance %
        </th>
      </tr>
      <tr *ngFor="let student of students">
        <td>
          {{student.id}}
        </td>
        <td>
          {{student.fullName}}
        </td>
        <td>
          {{student.attendance}}
        </td>
        <td>
          {{student.absence}}
        </td>
        <td>
          {{student.percent}}
        </td>
      </tr>
    </table>
  </div>
</ion-content>