page-createevent {
    #logo{
        display: inline-flex;
    }
    #logo p{
        font-size: 16px;
    }
    #form-icon{
        color: color($colors,primary);
    }
    .amaranthus {
        .label {
            font-weight: bolder;
        }
        .name {
            font-size: 130%;
        }
        .left {
            float: left;
        }
        .right {
            float: right;
            color: rgb(141, 162, 247);
        }
        .attended {
            color: rgb(230, 164, 164);
        }
    }
}