<!--
  Generated template for the MainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Main</ion-title>
    <ion-buttons end>
      <button ion-button (click)="goToCreate()">
        Add
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <ion-searchbar (ionInput)="searchStudent($event)">
  </ion-searchbar>
  <ion-item>
    <ion-label>Query by: </ion-label>
    <ion-select [(ngModel)]="query" multiple="false" selectSettings="selectOptions">
      <ion-option  *ngFor="let option of selectOptions" (ionSelect)="queryData(option)">{{option}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-list *ngIf="students">
    <ion-item-sliding *ngFor="let student of students">
      <ion-item (click)="goToEdit(student.id)">
        <ion-avatar item-left>
          <img src="{{student.picture}}" alt="no image">
        </ion-avatar>
        <p>
          <span>ID: </span>{{student.id}}</p>
        <p>
          <span>Name: </span>{{getStudentFullName({firstName: student.firstName, lastName: student.lastName})}}</p>
      </ion-item>
      <ion-item-options>
        <button ion-button color="secondary" (click)="addAttendance(student.id)">
          Attended
        </button>
        <button ion-button color="danger" (click)="addAbsence(student.id)">
          Absent
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>