page-main {
.amaranthus{
    .label{
        font-weight: bolder; 
    }
    .name{
        font-size: 130%;
    }
    .left{
        float: left;
    }
    .right{
        float:right;
        color:rgb(206, 215, 250);
    }
}
}