<ion-header>

  <ion-navbar color="primary">
    <ion-title>Roster</ion-title>
    <ion-buttons end>
      <button ion-button (click)="goToCreate()">
        Add
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-searchbar (ionInput)="searchStudent($event)">
  </ion-searchbar>
  <ion-item>
    <ion-label>Query by: </ion-label>
    <ion-select [(ngModel)]="query" multiple="false" selectSettings="selectOptions">
      <ion-option *ngFor="let option of selectOptions" (ionSelect)="queryData(option)">{{option}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-list *ngIf="students">
    <ion-item-sliding>
      <ion-item (click)="goToStudentProfile(data.student.id)" *ngFor="let data of students">
        <ion-avatar item-left>
          <img src="{{data.student.picture}}" alt="no image">
        </ion-avatar>
        <p>
          <span>ID: </span>{{data.student.id}}</p>
        <p>
          <span>Name: </span>{{data.student.firstName}} {{data.student.lastName}}</p>
        <p *ngIf="data.student.phoneNumber">
          <span>Phone Number: </span>{{data.student.phoneNumber}}
        </p>
        <p>
          <span>Address: </span>{{data.student.address}}</p>
        <p>
          <span>Town: </span>{{data.student.town}}</p>
        <p>
          <span>State: </span>{{data.student.state}}</p>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>