page-student-list {
    .amaranthus{
        .label{
            font-weight: bolder; 
        }
        .name{
            font-size: 130%;
        }
    }
    .attended{
        color:rgb(230, 164, 164);
    }
}
