<ion-header>

  <ion-navbar color="primary">
    <ion-title>Settings</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div *ngIf="!this.platform.is('core')">
  <div *ngIf="noProducts" id="loader"></div>
  <div *ngFor="let product of products">
    <ion-icon name="pricetag"></ion-icon>
    <div *ngIf="isIos">
      <span>
        The Master Key!
      </span>
      <p>
        Unlocks limit to database max rows!
      </p>
    </div>
    <div *ngIf="isAndroid">
      <span>
        {{product.title}}
      </span>
      <p>
        {{product.description}}
      </p>
    </div>
    <button *ngIf="isAndroid" ion-button color="primary" (click)="buyProduct({productId: product.productId, productTitle: product.title})">Buy Now for only {{product.priceAsDecimal}} {{product.currency}}!</button>
    <button *ngIf="isIos" ion-button color="primary" (click)="buyProduct({productId: product.productId, productTitle: 'The Master Key!'})">Buy Now for only {{product.priceAsDecimal}} {{product.currency}}!</button>
    <br>
    <button ion-button color="secondary" (click)="restorePurchases()">Already bought it? Click to restore it!
      <ion-icon name="happy"></ion-icon>
    </button>
  </div>
  <hr>
</div>
  <div>
    <h2>Feedback</h2>
    <p>Have any issues or just want to give me some feedback on how to make the app better? Just sent me an email 
      and I will answer accordingly!
    </p>
    <textarea #message></textarea>
    <br>
    <button ion-button color="primary" (click)="sendEmail(message.value)">Send email! </button>
  </div>
</ion-content>