<div class="calendar">
	<div>
		<div>
			<button class="ripple" id="arrow-up" (click)="nextMonth()">
				<!-- <img src="assets/fonts/arrow-up-solid.svg"> -->
			</button>
			<button class="ripple" id="arrow-down" (click)="previousMonth()">
				<!-- <img src="assets/fonts/arrow-down-solid.svg"> -->
			</button>
			<span class="date">
				{{monthsLabels[month] + ' ' + year}}
			</span>
		</div>
	</div>
	<ul class="weekdays">
		<li *ngFor="let weekDay of weekDaysLabels">{{weekDay}}</li>
	</ul>
	<ul class="days">
		<li class="ripple" [style.color]="this.chosen == date.day ? '#fff' : ''" [style.background-color]="this.chosen == date.day ? '#ffcccc' : ''"
		 *ngFor="let date of calendarDays" (click)="choseDay(date)">{{date.day}}</li>
	</ul>
</div>