<!--
  Generated template for the CreatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Create Record</ion-title>
    <ion-buttons start>
      <button ion-button (click)="goBack()">Cancel</button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="createStudent({
        firstName: firstName.value,
        initial: initial.value,
        lastName: lastName.value,
        id: id.value,
        address: address.value,
        phoneNumber:phoneNumber.value,
        town:town.value,
        state:state.value,
        class: class.value,
        fatherName:fatherName.value,
        motherName:motherName.value,
        emergencyContactName:emergencyContactName.value,
        emergencyRelationship:emergencyRelationship.value,
        emergencyContactPhoneNumber:emergencyContactPhoneNumber.value
      })">
        Create
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="picture != ''" class="profile-image">
    <img src="{{picture}}" alt="A profile picture">
  </div>
  <form #studentForm="ngForm" (ngSubmit)="createStudent({
      firstName: firstName.value,
      initial: initial.value,
      lastName: lastName.value,
      id: id.value,
      address: address.value,
      phoneNumber:phoneNumber.value,
      town:town.value,
      state:state.value,
      class: class.value,
      fatherName:fatherName.value,
      motherName:motherName.value,
      emergencyContactName:emergencyContactName.value,
      emergencyRelationship:emergencyRelationship.value,
      emergencyContactPhoneNumber:emergencyContactPhoneNumber.value
    })">
    <!-- Picture will be taken from gallery or camera.  If the input is empty a default one will
       be chosen from based by gender. -->
    <ion-item-group>
      <ion-item>
        <ion-label stacked>Picture</ion-label>
        <ion-input type="text" readonly="true" name="picture" [(ngModel)]="picture"></ion-input>
      </ion-item>
      <button (click)="browsePicture()" type="button" ion-button color="primary">Browse</button>
      <button (click)="picture = ''" type="button" ion-button color="secondary">Reset</button>
      <ion-item>
        <ion-label stacked>ID</ion-label>
        <ion-input type="text" #id value="{{idInput}}"></ion-input>
        <ion-icon id="form-icon" item-right name="warning" *ngIf="!id.value"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label stacked>First Name</ion-label>
        <ion-input type="text" #firstName></ion-input>
        <ion-icon id="form-icon" item-right name="warning" *ngIf="!firstName.value"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label stacked>Initial</ion-label>
        <ion-input type="text" #initial></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Last Name</ion-label>
        <ion-input type="text" #lastName></ion-input>
        <ion-icon id="form-icon" item-right name="warning" *ngIf="!lastName.value"></ion-icon>
      </ion-item>
      <h6>Gender</h6>
      <ion-list no-lines radio-group [(ngModel)]="gender" name="gender">
        <ion-item>
          <ion-label inset>Male</ion-label>
          <ion-radio value="male"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Female</ion-label>
          <ion-radio value="female"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Undisclosed</ion-label>
          <ion-radio value="undisclosed"></ion-radio>
        </ion-item>
      </ion-list>
      <h5 id="optional">Optional</h5>
      <ion-item>
        <ion-label stacked>Address</ion-label>
        <ion-input type="text" #address></ion-input>
        <!-- <ion-icon id="form-icon" item-right name="warning" *ngIf="!address.value"></ion-icon> -->
      </ion-item>
      <ion-item>
        <ion-label stacked>Phone Number</ion-label>
        <ion-input type="text" #phoneNumber></ion-input>
        <!-- <ion-icon id="form-icon" item-right name="warning" *ngIf="phoneNumber.value"></ion-icon> -->
      </ion-item>
      <ion-item>
        <ion-label stacked>City</ion-label>
        <ion-input type="text" #town></ion-input>
        <!-- <ion-icon id="form-icon" item-right name="warning" *ngIf="!town.value"></ion-icon> -->
      </ion-item>
      <ion-item>
        <ion-label stacked>State</ion-label>
        <ion-input type="text" #state></ion-input>
        <!-- <ion-icon id="form-icon" item-right name="warning" *ngIf="!state.value"></ion-icon> -->
      </ion-item>
      <ion-item>
        <ion-label stacked>Class</ion-label>
        <ion-input type="text" #class></ion-input>
      </ion-item>
      <h6>Father</h6>
      <ion-item>
        <ion-label stacked>Name</ion-label>
        <ion-input type="text" #fatherName></ion-input>
        <!-- <ion-icon id="form-icon" item-right name="warning" *ngIf="!fatherName.value"></ion-icon> -->
      </ion-item>
      <h6>Mother</h6>
      <ion-item>
        <ion-label stacked>Name</ion-label>
        <ion-input type="text" #motherName></ion-input>
        <!-- <ion-icon id="form-icon" item-right name="warning" *ngIf="!motherName.value"></ion-icon> -->
      </ion-item>
      <h6>Emergency Contact</h6>
      <ion-item>
        <ion-label stacked>Name</ion-label>
        <ion-input type="text" #emergencyContactName></ion-input>
        <!-- <ion-icon id="form-icon" item-right name="warning" *ngIf="!emergencyContactName.value"></ion-icon> -->
      </ion-item>
      <ion-item>
        <ion-label stacked>Relationship</ion-label>
        <ion-input type="text" #emergencyRelationship></ion-input>
        <!-- <ion-icon id="form-icon" item-right name="warning" *ngIf="!emergencyRelationship.value"></ion-icon> -->
      </ion-item>
      <ion-item>
        <ion-label stacked>Phone Number</ion-label>
        <ion-input type="text" #emergencyContactPhoneNumber></ion-input>
        <!-- <ion-icon id="form-icon" item-right name="warning" *ngIf="validatePhoneNumber(emergencyContactPhoneNumber.value)"></ion-icon> -->
      </ion-item>
    </ion-item-group>
    <button type="submit" ion-button color="primary">Create</button>
    <button ion-button type="button" color="secondary" (click)="
      firstName.value = '';
      initial.value = '';
      lastName.value = '';
      id.value = '';
      address.value = '';
      class.value = '';
      phoneNumber.value = '';
      town.value = '';
      state.value = '';
      fatherName.value = '';
      motherName.value = '';
      emergencyContactName.value = '';
      emergencyRelationship.value = '';
      emergencyContactPhoneNumber.value = '';
      picture = '';
      gender = 'male';
      ">Reset</button>
  </form>
</ion-content>